h2 {
    text-align: end;
    font-weight: 700;
    font-size: 0.7rem;
}

p {
    text-align: justify;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}

.intro {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

