h2 {
    text-align: end;
    font-weight: 700;
    font-size: 0.7rem;
}

p {
    text-align: justify;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}

.intro {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 10px;
}

@media only screen and (max-width: 480px) {
    .recto {
        display: none;
    }
}