.skills {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.skills-list {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    list-style: none;
    font-size: .9rem;
    padding-left: 0;
    margin: 0;
}