.cdv {
    flex-direction: column;
}

h1 {
    font-family: 'Parisienne', cursive;
    font-size: 2rem;
}

span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

@media only screen and (max-width: 1024px) {
    .cdv > h1 {
        font-size: 3rem
    }

    .grid-item {
        filter:blur(0px);
    }
  }
