
  #root, .App {
    height: 100%;
    /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg"); */
    /* background-image: url("https://i.pinimg.com/474x/c8/33/2d/c8332d0b8b943e973de731d9de8089b1.jpg"); */
    /* background-image: url("./img/Background/bg2.jpg"); */
    /* background-size: cover; */
  }

  h2 {
    text-align: end;
    font-weight: 700;
    font-size: 0.7rem;
}

  .center-x {
    display: flex;
    align-items: center;
    justify-content: center;
  }