h3 {
    font-size: 1rem;
}

.technos {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: relative;
}

.technos > ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.technos > ul > li {
    list-style: none;
}

.techno-list > img {
    height: 2rem;
}

.style {
    background-color: blue;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .recto {
        display: none;
    }
}